# Go binaries
bin/

# Vendor directory
vendor/

# Object files
*.o

# Archive files
*.a

# Shared object files
*.so

# macOS specific files
.DS_Store

# Environment variable files
.env

# IDE specific files
*.idea/
.vscode/
*.sublime-project
*.sublime-workspace
